{% extends 'layouts/main.html' %} {% load static widget_tweaks %} 
{% block breadcrumbs %}
<nav class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'catalog:index' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>  
    </ol>
</nav>
{% endblock %}
{% block content %}  {% with WIDGET_ERROR_CLASS="is-invalid" %}
<form action="" method="post" enctype="multipart/form-data" class=""> {% csrf_token %}
    {% if form.non_field_errors %} {% include 'layouts/errors.html' with error=form.non_field_errors|first %}{% endif %}
    <span class="text-danger">*</span>Required
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <div class="row">
        {% for field in form.visible_fields %} 
        <div class="col-md-10 col-lg-8">
            <div class="form-group my-3 row">
                <div class="col-sm-3 col-12 fw-light my-1 my-md-0">
                    <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %} <span class="text-danger">*</span>{% endif %}</label>
                </div>
                <div class="col">
                    {% if field.field.widget.input_type == 'checkbox' %} 
                    {% render_field field class+="form-check-input shadow-none" %} 
                    {% else %} {% render_field field class+="form-control shadow-none" %}
                   {% endif %} 
                   <span class="small text-muted">{{ field.help_texp }}</span>
                   {% if field.errors %} <div class="invalid-feedback">
                    <i class="bx bx-radio-circle"></i>{{ field.errors| first }}
                   </div> 
                   {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-10 col-lg-8">
            <button class="btn btn-primary shadow-none float-end px-3 mx-2"><i class="fa-solid fa-floppy-disk me-2"></i>Save</button>
        </div>
    </div>
</form>
{% endwith %}{% endblock content %} 