{% extends 'layouts/main.html' %} {% load static %}
{% block breadcrumbs %} 
<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'catalog:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'catalog:authors_list' %}">Authos list</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}
{% block content %} 
<h2>Auhtor : {{ author.first_name }} {{ author.last_name }}</h2>
<div>
    <p><strong>Birth date : </strong> {{ author.date_of_birth }}</p>
    <!-- <p><strong></strong></p> -->

    <div>
        <h4>Books he wrote</h4>
        <ul>
            {% for book in author.books.all %}
            <li><strong>Book title : </strong><a href="{}"> {{ book.title }} </a>--- <em>book genre is </em>  {{ book.genre }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}