{% extends "layouts/auth.html" %}{% load i18n %}
{% block content %}
{% if validlink %}
<div class="small">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</div>
<form method="post" action="">{% csrf_token %}
  <input class="hidden" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
  <div class="input-group my-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="PasswordInput1"><i class="fa-solid fa-key p-1"></i></span>
      </div>
      <input type="password" class="form-control shadow-none {% if form.new_password1.errors %}is-invalid{% endif %}" name="new_password1" placeholder="{% translate 'New password:' %}" aria-label="new password 1" id="PasswordInput1" required> {% if form.new_password1.errors %}
      <div class="invalid-feedback">
          {{ form.new_password1.errors|first }}
      </div>
      {% endif %}
  </div>
  <div class="input-group my-3">
      <div class="input-group-prepend">
          <span class="input-group-text" id="PasswordInput2"><i class="fa-solid fa-key p-1"></i></span>
      </div>
      <input type="password" class="form-control shadow-none {% if form.new_password2.errors %}is-invalid{% endif %}" name="new_password2" placeholder="{% translate 'Confirm password:' %}" aria-label="new password 2" id="PasswordInput2" required> {% if form.new_password2.errors %}
      <div class="invalid-feedback">
          {{ form.new_password2.errors|first }}
      </div>
      {% endif %}
  </div>
    <div class="pt-1 mb-4">
        <button class="btn btn-primary float-end me-2 btn-md btn-block shadow-none" type="submit"><i class="fa-solid fa-reset me-2"></i>Reset</button>
        <a class="small nav-link" href="{% url 'auser:login' %}">{% translate "Login?" %}</a>
    </div>
</form>{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock content %}
