{% extends "layouts/auth.html" %}
{% load i18n static i18n %}

{% block title %}{% translate "Password reset"  %}{% endblock title %}

{% block content %}
<div class="small" style="text-align: justify;">
  <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

  <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</div>
<div class="pt-1">
    <a class="small nav-link px-0" href="{% url 'auser:login' %}"/>{% translate "Remember your password?" %}
</div>
{% endblock %}
