{% extends 'layouts/main.html' %} {% load static widget_tweaks %} 
{% block breadcrumbs %} 
<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" ><a href="{% url 'catalog:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %} 
{% block content %} 
<div class="container-fluid my-4">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3 d-flex justify-content-end">
        {% if perms.auser.add_user %}<a href="{% url 'auser:add_user' %}" class="btn btn-md btn-success rounded-3 shadow-none me-3">
          <i class="fa-solid fa-circle-plus me-2"></i>Add User</a>{% endif %}</div>
<table class="table responsive" id="users_list ">
    <thead>
        <th class="border-bottom border-0">No</th>
        <th class="border-bottom border-0">Username</th>
        <th class="border-bottom border-0">First name</th>
        <th class="border-bottom border-0">Last name</th>
        <th class="border-bottom border-0">Email</th>
        <th class="border-bottom border-0">Phone no</th>
        <th class="border-bottom border-0">Role</th>
    </thead>
    <tbody>
        {% for user in users  %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'auser:user_detail' user.pk %}">{{ user.username }}</a></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td><a href="{% url 'auser:user_detail' user.pk %}">{{ user.email }}</a></td>
            <td>{{ user.phone_number }}</td>
            <td>{% if user.groups.all %}
                <ul>
                    {% for group in user.groups.all %} 
                        <li>{{ group }}</li>
                    {% endfor %}
                </ul>
                {% else %} <span class="small">user is not assigned to group </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}