{% load static %}
<nav class="col-auto" id="sidebar">
    <div class="sidebar-nav">
        <div class="d-flex justify-content-center">
            <a class="mx-auto mt-4 mb-5" href="{% url 'catalog:index' %}">
                <img src="{% static 'img/logo.svg' %}" class="rounded-circle img-fluid logo-img" alt="Home">
            </a>
        </div>
    </div>    
    <ul class="sidebar-nav p-5 list-unstyled">
        <li><a href="#">All Books</a></li>
        <li><a href="#">All Authors</a></li>
    </ul>
</nav>