{% extends 'layouts/main.html' %}{% load static widget_tweaks %}
{% block breadcrumbs %} 
<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'catalog:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'auser:authors_list' %}">Authos list</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %} {% block content %} {% with WIDGET_ERROR_CLASS="is_invalid" %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %} 
    {% if form.non_field_errors %}{% include 'layouts/error.html' with error=form.non_field_errors|first %}{% endif %}
    <span class="text-danger">*</span>Required
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <div class="row">
        {% for field in form.visible_fields %}
        <div class="col-md-10 col-lg-8">
            <div class="row form-group my-3">
                <div class="col-sm-3 col-12 fw-light my-1 my-md-0">
                    <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                </div>
                <div class="col">
                    {% if field.field.widget.input_type == 'check_box' %} 
                    {% render_field field class+="form-check-input shadow-none" %} 
                    {% else %} {% render_field field class+="form-control shadow-none" %} 
                    {% endif %} 
                    <span class="small text-muted">{{ field.help_text }}</span>
                    {% if field.errors %} <div class="invalid-feedback">
                        <i class="bx bx-radio-circle"></i>{{ field.errors|first }}
                    </div>{% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-10 col-lg-8">
            <button class="btn btn-primary float-end shadow-none mx-2"><i class="fa-solid fa-floppy-disk me-2"></i> Save</button>
        </div>
    </div>
</form>
{% endwith %}{% endblock %}